@font-face {
  font-family: "turret-road";
  src: url("../fonts/Turret_Road/TurretRoad-Regular.ttf");
}

@font-face {
  src: url("../fonts/Questrial/Questrial-Regular.ttf");
  font-family: "questrial";
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.tall {
  height: 100vh;
}

.wide {
  width: 100vw;
}

div.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

div.logo-container img.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  -webkit-filter: saturate(1.25);
          filter: saturate(1.25);
}

div.logo-container h3.logo-title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

div.logo-container h4.logo-creator {
  font-size: 15px;
  margin-top: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

div.parallax-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.parallax-block .title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
}

#page-top-header.hide {
  padding-top: 0;
  width: 0px;
}

@media (min-width: 1400px) {
  #page-top-header.hide {
    width: 100vw;
    padding-top: 15px;
  }
}

#page-top-header.hide ul {
  right: -250px;
}

#page-top-header.hide #open-menu-button {
  display: block;
}

@media (min-width: 1400px) {
  #page-top-header.hide #open-menu-button {
    display: none;
  }
}

#page-top-header.hide #close-menu-button {
  display: none;
}

#page-top-header {
  height: 100vh;
  position: fixed;
  right: 0;
  text-align: right;
  font-size: 20px;
  z-index: 100;
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-top: 25px;
  width: 100vw;
}

@media (min-width: 768px) {
  #page-top-header {
    width: 250px;
  }
}

@media (min-width: 1400px) {
  #page-top-header {
    width: 100%;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    border-bottom: orangered solid 2px;
    -webkit-transition: none;
    transition: none;
  }
}

#page-top-header #close-menu-button {
  border-radius: 50px;
  background-color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 25px;
  left: 25px;
}

@media (min-width: 1400px) {
  #page-top-header #close-menu-button {
    display: none;
  }
}

#page-top-header #open-menu-button {
  border-radius: 50px;
  background-color: black;
  width: 30px;
  height: 30px;
  display: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (min-width: 1400px) {
  #page-top-header #open-menu-button {
    display: none;
  }
}

#page-top-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  right: 35px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (min-width: 1400px) {
  #page-top-header ul {
    right: 0px !important;
    -webkit-transition: none;
    transition: none;
  }
}

#page-top-header ul li {
  margin-bottom: 10px;
}

#page-top-header ul li a {
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#page-top-header ul li.selected > a {
  color: orangered;
}

@media (min-width: 1400px) {
  #page-top-header ul li {
    display: inline-block;
    padding: 0 10px;
  }
  #page-top-header ul .underbar {
    width: 0px;
    height: 3px;
    left: 12px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: absolute;
    background-color: black;
    margin-top: 22px;
    padding: 0;
    content: "";
  }
  #page-top-header ul li:nth-child(1):hover ~ .underbar {
    width: 54px;
  }
  #page-top-header ul li:nth-child(2):hover ~ .underbar {
    left: 92px;
    width: 55px;
  }
  #page-top-header ul li:nth-child(3):hover ~ .underbar {
    left: 173px;
    width: 54px;
  }
  #page-top-header ul li:nth-child(4):hover ~ .underbar {
    left: 253px;
    width: 132px;
  }
}
/*# sourceMappingURL=core.css.map */