@font-face {
    font-family: "turret-road";
    src: url('../fonts/Turret_Road/TurretRoad-Regular.ttf');
}

@font-face {
    src: url("../fonts/Questrial/Questrial-Regular.ttf");
    font-family: "questrial";
}

$colors: (
    primary-bg-dark: #070707,
    primary-text: white,
    gradient-blue: rgba(0, 60, 151, 0.25),
    gradient-purple: rgba(214, 48, 255, 0.25)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$phone: 500px;
$tablet: 768px;
$desktop: 1400px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fracture-text {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
        transform: none;
    }
    25% {
        transform: matrix(1, 0, 0, 1, -100, -100);
        color: orangered;
    }
    100% {
        opacity: 1;
        color: inherit;
    }
}

html {
    scroll-behavior: smooth;
    font-family: questrial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#content {
    transition: filter 1.5s;

    @include desktop {
        filter: none !important;
    }
}

.tall {
    height: 100vh;
}

.wide {
    width: 100vw;
}

.desktop-exclude {
    display: inherit;

    @include desktop {
        display: none;
    }
}

.desktop-include {
    display: none;

    @include desktop {
        display: inherit;
    }
}

div.logo-container {
    position: absolute;
    top: 25px;
    left: 25px;
    animation: fade-in 0.5s ease-in-out;
    user-select: none;
    transition: 0.5s ease;

    img.logo {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        filter: saturate(1.25);
    }

    h3.logo-title {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
    }

    h4.logo-creator {
        font-size: 15px;
        margin-top: 15px;
        font-weight: normal;
        text-transform: uppercase;
    }
}

.fracture-container {
    span {
        float: left;
    }

    span:empty {
        width: 10px;
        height: 1px;
    }

    span.fracture {
        animation: fracture-text 1s ease;
    }
}

div.parallax-block {
    width: 100%;
    height: 100vh;
    display: flex;

    div.parallax-block--bg-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -25;
        overflow: hidden;

        div.parallax-block--bg {
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            width: 100%;
            height: 100%;

            @include desktop {
                transform: translateZ(-1px) scale(1.15);
            }
        }
    }

    .title {
        text-align: center;
        align-self: center;
        justify-self: center;
        margin: auto;
        padding: 0 25px;
        user-select: none;
    }
}

div.parallax-divider {
    width: 100%;
    box-shadow: 0px 0px 20px 0px black;

    @include desktop {
        width: 75%;
        margin: auto;
        border-radius: 25px;
    }
}

div.parallax-divider ~ div.parallax-block {
    display: none;
}

@include desktop {
    div.parallax-divider ~ div.parallax-block {
        display: inherit;
    }
}

#page-top-header.show > nav {
    width: 100%;

    @include tablet {
        width: 250px;
    }

    @include desktop {
        width: 100vw;
        padding-top: 15px;
    }
}

#page-top-header.show ul {
    right: 35px;
}

#page-top-header.show #open-menu-button {
    display: none;
}

#page-top-header.show #close-menu-button {
    display: block;

    @include desktop {
        display: none;
    }
}

#page-top-header {
    font-size: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 10;

    #open-menu-button {
        border-radius: 50px;
        color: white;
        text-align: center;
        cursor: pointer;
        user-select: none;
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 30px;
        pointer-events: all;

        @include desktop {
            display: none;
        }
    }

    nav {
        width: 0;
        height: 100vh;
        position: fixed;
        right: 0;
        text-align: right;
        z-index: 100;
        background-color: white;
        transition: width 0.5s ease;
        padding-top: 25px;
        pointer-events: all;

        @include desktop {
            width: 100%;
            height: 35px;
            text-align: center;
            padding-top: 15px;
            border-bottom: orangered solid 2px;
            transition: none;
        }

        #close-menu-button {
            border-radius: 50px;
            color: black;
            width: 30px;
            height: 30px;
            text-align: center;
            cursor: pointer;
            user-select: none;
            position: absolute;
            top: 25px;
            left: 25px;
            display: none;
            transition: transform 0.5s ease;

            @include desktop {
                display: none;
            }
        }

        #close-menu-button:hover {
            transform: rotateZ(360deg);
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: relative;
            display: inline-block;
            right: -250px;
            transition: 0.25s ease-in-out;

            @include desktop {
                right: 0px !important;
                transition: none;
            }

            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    user-select: none;
                }
            }

            li.selected > a {
                color: orangered;
            }

            @include desktop {
                li {
                    display: inline-block;
                    padding: 0 10px;
                }

                .underbar {
                    width: 0px;
                    height: 3px;
                    left: 12px;
                    transition: 0.5s ease;
                    position: absolute;
                    background-color: black;
                    margin-top: 22px;
                    padding: 0;
                    content: "";
                }

                li:nth-child(1):hover ~ .underbar {
                    width: 54px;
                }
                li:nth-child(2):hover ~ .underbar {
                    left: 92px;
                    width: 55px;
                }
                li:nth-child(3):hover ~ .underbar {
                    left: 173px;
                    width: 54px;
                }
                li:nth-child(4):hover ~ .underbar {
                    left: 253px;
                    width: 132px;
                }
            }
        }
    }
}