@font-face {
  font-family: "turret-road";
  src: url("../fonts/Turret_Road/TurretRoad-Regular.ttf");
}

@font-face {
  src: url("../fonts/Questrial/Questrial-Regular.ttf");
  font-family: "questrial";
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fracture-text {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -100, -100);
            transform: matrix(1, 0, 0, 1, -100, -100);
    color: orangered;
  }
  100% {
    opacity: 1;
    color: inherit;
  }
}

@keyframes fracture-text {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -100, -100);
            transform: matrix(1, 0, 0, 1, -100, -100);
    color: orangered;
  }
  100% {
    opacity: 1;
    color: inherit;
  }
}

html {
  scroll-behavior: smooth;
  font-family: questrial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#content {
  -webkit-transition: -webkit-filter 1.5s;
  transition: -webkit-filter 1.5s;
  transition: filter 1.5s;
  transition: filter 1.5s, -webkit-filter 1.5s;
}

@media (min-width: 1400px) {
  #content {
    -webkit-filter: none !important;
            filter: none !important;
  }
}

.tall {
  height: 100vh;
}

.wide {
  width: 100vw;
}

.desktop-exclude {
  display: inherit;
}

@media (min-width: 1400px) {
  .desktop-exclude {
    display: none;
  }
}

.desktop-include {
  display: none;
}

@media (min-width: 1400px) {
  .desktop-include {
    display: inherit;
  }
}

div.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

div.logo-container img.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  -webkit-filter: saturate(1.25);
          filter: saturate(1.25);
}

div.logo-container h3.logo-title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

div.logo-container h4.logo-creator {
  font-size: 15px;
  margin-top: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.fracture-container span {
  float: left;
}

.fracture-container span:empty {
  width: 10px;
  height: 1px;
}

.fracture-container span.fracture {
  -webkit-animation: fracture-text 1s ease;
          animation: fracture-text 1s ease;
}

div.parallax-block {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.parallax-block div.parallax-block--bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -25;
  overflow: hidden;
}

div.parallax-block div.parallax-block--bg-container div.parallax-block--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 1400px) {
  div.parallax-block div.parallax-block--bg-container div.parallax-block--bg {
    -webkit-transform: translateZ(-1px) scale(1.15);
            transform: translateZ(-1px) scale(1.15);
  }
}

div.parallax-block .title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
  padding: 0 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.parallax-divider {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px black;
          box-shadow: 0px 0px 20px 0px black;
}

@media (min-width: 1400px) {
  div.parallax-divider {
    width: 75%;
    margin: auto;
    border-radius: 25px;
  }
}

div.parallax-divider ~ div.parallax-block {
  display: none;
}

@media (min-width: 1400px) {
  div.parallax-divider ~ div.parallax-block {
    display: inherit;
  }
}

#page-top-header.show > nav {
  width: 100%;
}

@media (min-width: 768px) {
  #page-top-header.show > nav {
    width: 250px;
  }
}

@media (min-width: 1400px) {
  #page-top-header.show > nav {
    width: 100vw;
    padding-top: 15px;
  }
}

#page-top-header.show ul {
  right: 35px;
}

#page-top-header.show #open-menu-button {
  display: none;
}

#page-top-header.show #close-menu-button {
  display: block;
}

@media (min-width: 1400px) {
  #page-top-header.show #close-menu-button {
    display: none;
  }
}

#page-top-header {
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

#page-top-header #open-menu-button {
  border-radius: 50px;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  pointer-events: all;
}

@media (min-width: 1400px) {
  #page-top-header #open-menu-button {
    display: none;
  }
}

#page-top-header nav {
  width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 100;
  background-color: white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  padding-top: 25px;
  pointer-events: all;
}

@media (min-width: 1400px) {
  #page-top-header nav {
    width: 100%;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    border-bottom: orangered solid 2px;
    -webkit-transition: none;
    transition: none;
  }
}

#page-top-header nav #close-menu-button {
  border-radius: 50px;
  color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 25px;
  left: 25px;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (min-width: 1400px) {
  #page-top-header nav #close-menu-button {
    display: none;
  }
}

#page-top-header nav #close-menu-button:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

#page-top-header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  right: -250px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (min-width: 1400px) {
  #page-top-header nav ul {
    right: 0px !important;
    -webkit-transition: none;
    transition: none;
  }
}

#page-top-header nav ul li {
  margin-bottom: 10px;
}

#page-top-header nav ul li a {
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#page-top-header nav ul li.selected > a {
  color: orangered;
}

@media (min-width: 1400px) {
  #page-top-header nav ul li {
    display: inline-block;
    padding: 0 10px;
  }
  #page-top-header nav ul .underbar {
    width: 0px;
    height: 3px;
    left: 12px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: absolute;
    background-color: black;
    margin-top: 22px;
    padding: 0;
    content: "";
  }
  #page-top-header nav ul li:nth-child(1):hover ~ .underbar {
    width: 54px;
  }
  #page-top-header nav ul li:nth-child(2):hover ~ .underbar {
    left: 92px;
    width: 55px;
  }
  #page-top-header nav ul li:nth-child(3):hover ~ .underbar {
    left: 173px;
    width: 54px;
  }
  #page-top-header nav ul li:nth-child(4):hover ~ .underbar {
    left: 253px;
    width: 132px;
  }
}

body {
  margin: 0;
  font-family: questrial;
}

.shine-effect {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(37%, rgba(255, 255, 255, 0.4)), color-stop(45%, rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0) 50%);
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.shine-effect:hover {
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div.game-scene {
  width: 100vw;
  height: 100vh;
  z-index: -64;
}

div.game-scene div.controls-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
      grid-template-areas: "left-btn right-btn";
}

div.game-scene div.controls-container div.lane-btn:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-btn;
}

div.game-scene div.controls-container div.lane-btn:last-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right-btn;
}

div.game-scene div.controls-container div.lane-btn {
  width: 100%;
  height: 100%;
}

div.game-scene div#game-ui-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

div.game-scene div#game-ui-container h2 {
  color: white;
  font-size: 35px;
}

div.game-scene div#game-ui-container h3 {
  color: white;
  font-size: 25px;
}

div.game-scene h2.title {
  font-size: 75px;
  color: black;
  text-shadow: 3px 3px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: end;
      align-self: end;
}

div.game-scene a.btn {
  background-color: #bcecff;
  border-radius: 25px;
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 40px;
  margin: 0 25px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: relative;
  pointer-events: all;
}

div.game-scene div#start-game-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

div.game-scene div#start-game-container a.btn {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.game-scene div#game-over-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 75px auto;
      grid-template-rows: 50% 75px auto;
      grid-template-areas: "title" "btn-left" "btn-right";
}

@media (min-width: 768px) {
  div.game-scene div#game-over-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "title title" "btn-left btn-right";
  }
}

div.game-scene div#game-over-container a:first-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn-left;
}

@media (min-width: 768px) {
  div.game-scene div#game-over-container a:first-of-type {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

div.game-scene div#game-over-container a:last-of-type {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: btn-right;
}

@media (min-width: 768px) {
  div.game-scene div#game-over-container a:last-of-type {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}
/*# sourceMappingURL=game.css.map */