@import "core";

@keyframes expand {
    from {
        width: 0%;
    }
    to {
        width: 100vw;
    }
}

body {
    color: white;

    div.parallax-block {
        height: 500px;
    }

    section.content-block {
        width: 100%;
        min-height: calc(100vh - 500px);
        background-color: #080808;
        box-shadow: 0px -5px 20px 1px black;
        position: relative;
        overflow: hidden;
        z-index: 50;

        article.redovisning-container {
            padding: 100px 15%;

            h2 {
                text-align: center;
                font-weight: 500;
                font-size: 1.75em;
                overflow: hidden;

                span {
                    position: relative;
                }

                span::before, span::after {
                    content: "";
                    width: 100vw;
                    height: 2px;
                    background-color: white;
                    top: 50%;
                    transform: translateY(-50%);
                    animation: expand 2.5s ease-in-out;
                    position: absolute;
                    border-width: 0px;
                    border-style: solid;
                    border-color: white;
                    transition: all 0.2s ease-in-out;
                }

                span::before {
                    right: 100%;
                    margin-right: 25px;
                }

                span::after {
                    left: 100%;
                    margin-left: 25px;
                }
            }

            h2:hover span::before, h2:hover span::after {
                height: 0;
                border-bottom-width: 2px;
                border-top-width: 2px;
                background-color: transparent;
                padding: 5px 0;
            }

            h2:not(:first-child) {
                margin-top: 50px;
            }

            p {
                color: white;
                font-size: 1.1em;
                text-align: center;
            }

            a {
                color: orangered;
                text-decoration: none;
                position: relative;
            }

            a::after {
                content: "";
                height: 2px;
                width: 0px;
                background-color: orangered;
                position: absolute;
                bottom: -2px;
                left: 0;
                transition: width 0.5s;
            }

            a:hover::after {
                width: 100%;
            }
        }
    }
}

#page-side-nav-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 200px);
    top: 0;
    margin: 100px 0;
    pointer-events: none;

    #page-side-nav {
        position: absolute;
        right: 25px;
        transform: translateY(-50%);
        text-align: right;
        display: none;
        pointer-events: all;

        @include tablet {
            right: 50px;
        }
        
        @include desktop {
            right: 100px;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 10px 0;

                a {
                    border-radius: 25px;
                    border: 2px solid white;
                    width: 13px;
                    height: 13px;
                    transition: all 0.25s;
                    display: inline-block;
                }
                
                @include desktop {
                    a.selected {
                        background-color: orangered;
                        border-color: orangered;
                    }
                    a:hover {
                        background-color: white;
                    }
                    a.selected:hover {
                        background-color: orangered;
                    }
                }
            }
        }
    }
}