@import "core";

body {
    color: white;

    div.parallax-block {
        height: 500px;
    }

    section.content-block {
        width: 100%;
        min-height: calc(100vh - 500px);
        background-color: #080808;
        box-shadow: 0px -5px 20px 1px black;
        position: relative;
        overflow: hidden;
        z-index: 50;

        article.säkerhet-container {
            padding: 100px 15%;
            font-family: 'open-sans', sans-serif;

            h1, h2, h3, h4, h5 {
                font-weight: 500;
                text-align: center;
                overflow: hidden;
            }

            h2 {
                font-size: 1.75em;
            }

            h2:not(:first-child) {
                margin-top: 50px;
            }

            h3 {
                font-size: 1.25em;
            }

            p {
                color: white;
                font-size: 1.1em;
            }

            a {
                color: orangered;
                text-decoration: none;
                position: relative;
            }

            a::after {
                content: "";
                height: 2px;
                width: 0px;
                background-color: orangered;
                position: absolute;
                bottom: -2px;
                left: 0;
                transition: width 0.5s;
            }

            a:hover::after {
                width: 100%;
            }

            img {
                max-width: 100%;
            }

            code {
                display: block;
                
                span::selection {
                    background: #9c27b0;
                }

                span::-moz-selection {
                    background: #9c27b0;
                }
            }

            code > span {
                background-color: #191919;
                border-radius: 5px;
                padding: 12px 15px;
                font-size: 1.2em;
                margin: 10px 10px 10px 0;
                display: inline-block;
                color: #c5c5c5;
                overflow-x: auto;
                white-space: nowrap;
                max-width: 100%;
                box-sizing: border-box;

                span {
                    white-space: pre;
                }

                span.keyword {
                    color: #93de00;
                }

                span.pointer {
                    color: #4587ff;
                }

                span.string {
                    color: #ff4700;
                }

                span.int {
                    color: #e4ff00;
                }
            }

            #hash-input {
                font-size: 1.05em;
                border-radius: 50px;
                padding: 5px 25px 5px 10px;
                background-color: #191919;
                border: none;
                width: 250px;
                max-width: 100%;
                color: white;
                box-sizing: border-box;
            }

            #hash-output {
                font-size: 1.05em;
                border-radius: 50px;
                padding: 5px 15px;
                background-color: #191919;
                width: fit-content;
                max-width: 100%;
                box-sizing: border-box;
            }

            div.table-container {
                margin: 25px 0;
                width: 100%;
                overflow-x: auto;

                table {
                    background-color: #191919;
                    font-size: 1.05em;
                    box-sizing: border-box;
                    text-align: left;
                    border-collapse: collapse;

                    tr:first-child > th {
                        text-align: center;
                    }

                    tr > td:nth-child(1) {
                        min-width: 50px;
                        max-width: 100px;
                        width: 10%;
                    }

                    th, td {
                        padding: 15px;
                        border: 2px solid rgb(100, 100, 100);
                    }
                }
            }

            div.table-container + p > i, img + p > i {
                font-size: 0.9em;
            }

            video {
                width: 100%;
            }
        }
    }
}